<!DOCTYPE html>
<html>

<head>
    <title>智齿机器人</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
</head>

<body>
    {% include 'nav.html' %}
    <div class="main-container">
        <div class="item item-1">
            <div class="text-container">
                <h3>机器人辅助，使人工回答效率翻倍</h3>
                <p>在人工和客户进行交谈时，机器人会在一旁辅助人工完成解答，客服只需轻点问题，机器人就会通过精准的语义分析，</p>
                <p>在智能回复窗口中推荐出最匹配的答案供客服进行选择，告别了传统的输入关键字搜索知识库的方式，</p>
                <p>使得人工处理问题的效率提升80%以上。</p>
            </div>
            <div class="image-outer" style="margin-top:26px;">
                <img src="/static/images/gif1.gif" />
            </div>
        </div>
        <div class="item item-2">
            <div class="text-container">
                <h3>轻松联接企业其他系统</h3>
                <p>作为企业与客户沟通的入口，客服系统肩负着联接企业内部系统的重大使命，智齿的人工客服工作台扩展了大量的对外接口，使得其可以和企业内部更多的系统如CRM、进销存、办公系统等进行对接，让您的客服系统可以轻松融入企业，一站式处理问题。</p>
            </div>
            <div class="image-outer">
                <img src="/static/images/background-item2.png" />
            </div>
        </div>
        <div class="item item-3">
            <div class="image-outer">
                <img src="/static/images/background-item3.png" />
            </div>
            <div class="text-container">
                <h3>沟通中的所有信息，了如指掌</h3>
                <p>人工客服在接入客户时，系统内所有的客户身份记录、来访记录、聊天历史记录、工单处理记录等信息都会第一时间呈现在客服面前，无需重复沟通问询，轻松掌握。借助这些全面有效的信息，帮助客服更好的处理客户问题，提升服务质量。</p>
            </div>
        </div>
        <div class="item item-4">
            <div class="text-container">
                <h3>接入您最需要沟通的用户</h3>
                <p>
                    客服可以自主邀请浏览网页的用户或接入排队中的用户，还能将客户转接给其他更适合服务的客服，确保接入最需要沟通的用户， 让企业不错过任何走近客户的机会。
                </p>
            </div>
            <div class="image-outer">
                <img src="/static/images/gif2.gif" />
            </div>
        </div>
        <div class="item item-5">
            <div class="text-container">
                <h3>最快的响应用户，提升服务质量</h3>
                <p>
                    通过人工客服工作台自定义的快捷回复内容，客服可以一键推送内容给客户，清晰的会话提示、超时提醒、未读消息等，使得企业客服能一目了然的掌握服务动态，并以最快的速度响应用户。
                </p>
            </div>
            <div class="image-outer">
                <img src="/static/images/background-item5.png" />
            </div>
        </div>
    </div>
    {% include 'jssdk.html' %}
</body>

</html>
