body,
html {
    margin: 0;
    padding: 0;
}

ul,
li,
div,
dl,
dd,
dt,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
input,
label,
i,
span {
    list-style: none;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: "微软雅黑";
}

.nav {
    height: auto;
    width: 100%;
    background: #ffffff;
    min-width: 1281px;
    border-bottom: solid 1px #e1ebeb;
}

.container {
    height: 66px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1100px;
    min-width: 1050px;
    overflow: visible !important;
}

.container .logo {
    background: url(/static/images/logo.png);
    background-repeat: no-repeat;
    height: 48px;
    width: 154px;
    display: inline-block;
    margin-top: 17px;
    float: left;
}

.container .nav-bottom {
    height: auto;
    width: auto;
    float: right;
    padding-bottom: 15px;
    padding-top: 15px;
    overflow: hidden;
}

.container .nav-bottom .blog {
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 20px;
    float: left;
    background: #FFFFFF;
    color: #09a1aa;
    border: 1px solid #09a1aa;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
}

.main-container {
    width: 100%;
    min-height: 10px;
}

.main-container .item.item-1 {
    text-align: center;
    height: 700px;
    background: #f5f5f6;
}

.main-container .item {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.main-container .item.item-1 .text-container {
    width: 840px;
    margin: auto;
    text-align: center;
}

.main-container .item .text-container {
    z-index: 5;
    position: relative;
}

.main-container .item.item-2 {
    background: #ffffff;
    height: 575px;
}

.main-container .item.item-2 .text-container {
    width: 620px;
    text-align: left;
    margin-top: 160px;
    margin-left: 25%;
    float: left;
}

.main-container .item p {
    font-size: 16px;
    line-height: 34px;
}

.main-container .item.item-2 .image-outer {
    float: left;
    margin-left: 5%;
    margin-top: 100px;
}

.main-container .item h3 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: normal;
}

.main-container .item.item-3 {
    background: #f1f2f3;
    height: 575px;
}

.main-container .item.item-3 .text-container {
    width: 490px;
    float: left;
    margin-top: 155px;
    margin-left: 100px;
}

.main-container .item.item-3 .image-outer {
    margin: 0px;
    float: left;
    margin-top: 82px;
    margin-left: 450px;
}

.main-container .item.item-3 .image-outer img {
    height: 494px;
    width: 424px;
}

.main-container .item.item-4 .text-container {
    width: 624px;
    margin: auto;
    text-align: center;
    margin-top: 81px;
}

.main-container .item.item-4 .image-outer {
    margin: auto;
    text-align: center;
    margin-top: 9px;
}

.main-container .item.item-4 .image-outer img {
    width: 759px;
    height: 323px;
}

.main-container .item.item-5 {
    height: 527px;
    background: #f5f5f6;
}

.main-container .item.item-5 .text-container {
    width: 552px;
    text-align: left;
    margin-top: 141px;
    margin-left: 460px;
    float: left;
}

.main-container .item.item-5 .image-outer {
    float: left;
    background: #f5f5f6;
    margin-top: 62px;
    margin-left: 10px;
}

.zc-chat-serv {
    position: fixed;
    top: 300px;
    right: 2px;
    width: 40px;
    height: 157px;
    border-radius: 4px;
    background-color: rgb(19, 201, 203);
    border: 1px solid #e1ebeb;
    z-index: 1000;
    text-align: center;
}

.zc-chat-serv .chat-title {
    width: 20px;
    line-height: 24px;
    margin: 0 auto;
    display: block;
    margin-top: 7px;
    color: #fff;
    cursor: pointer;
}


/* blog css style*/

.section-cover {
    text-align: center;
    background: url(/static/images/blog-nav.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.section-cover h1,
.section-cover h2 {
    color: #000;
    text-shadow: 0px 0px 3px #00A6EF, -2px -2px 3px #fff
}

.section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0;
}

.section-index {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 700px;
}

.section-index .item {
    margin-bottom: 60px;
}

.section-index .item h3 {
    margin: 0;
    font-size: 26px;
}

.section-index h1,
.section-index h2,
.section-index h3,
.section-index h4,
.section-index h5,
.section-index h6 {
    color: #34404b;
    font-weight: 200;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-index .item .desc {
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 70px;
    line-height: 18px;
}

p pre {
    margin: 1em 0;
}

.section-index .item .meta {
    font-size: 14px;
    color: #758392;
}

.section-index .detail-msg {
    color: rgb(19, 201, 203);
}

.section-blog {
    padding-top: 0;
}

.page-blogs_index .section,
.page-blogs_show .section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0;
}

.page-blogs_show .content {
    padding: 0 20px;
    max-width: 700px;
    margin: 0 auto;
}

.page-blogs_show .content .head {
    margin-bottom: 40px;
}

.page-blogs_show .content .title {
    margin-top: 60px;
    margin-bottom: 0;
    line-height: 1;
}

.page-blogs_show .content .subtitle {
    margin-top: 20px;
    margin-bottom: 0;
    color: #865D44;
}

.page-blogs_show .content p,
.page-blogs_show .content h1,
.page-blogs_show .content h2 {
    color: #888;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #555362;
}
.page-blogs_show .author {
    padding-top: 20px;
}
.page-blogs_show .author,.page-blogs_show .time {
    text-align: right;
}
